:root{
	--primary-color: #fff7ef;
	--secondary-color: #ffefdf;
	--text-color: #00070f;
	--header-color: #00070f;
	--title-color: #c7bfb7;
	--animation-time: 0.25s;
}

.topbar{
	position: fixed;
	top:0;
	width:100%;
	height:70px;
	display:flex;
}

.hideDir {
	width: 70px;
	height: inherit;
	color: var(--title-color);
	text-align: center;
	cursor: pointer;
	position: fixed;
	display: block;
	left: 0px;
	margin-left: 0px;
}
.hideDirIcon {
	margin-top: calc(50% - 0.5em);
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;

}
.hideDir:hover {
	color: var(--text-color);
	
}

.title {
	width:100%;
	height:inherit;
	display: block;
	color: var(--title-color);
}

#mutable-topbar {
	text-align: center;
	width:100%;
	height:inherit;
	display: flex;
	background-color: var(--primary-color);
	transition: margin var(--animation-time);
}

.container{
	margin-top:70px;
	width:100%;
	display:flex;
}

#directory{
	background-color: var(--secondary-color);
	text-align: center;
	width: 0%;
	height: 100%;
	top:0px;
	padding-top: 70px;
	display:none;
	overflow: hidden;
	white-space: nowrap;
	position: fixed;
	transition: width var(--animation-time);
}

.sidebar-link {
	padding: 20px 100% 20px 10px;
	line-height: calc(40px + 1em);
	color: var(--text-color);
	text-decoration: none;
}


.sidebar-link:hover {
	color: #ee6f00;
	background-color: var(--primary-color);
	transition: color calc(var(--animation-time) * 0.5);
	transition: background-color calc(var(--animation-time) * 0.5);
}

dl {
	line-height: 2.5em;
	left:0px;
}

.anchor {
	display:block;
	position: relative;
	top: -90px;
	visibility: hidden;
}

#content{
	background-color: var(--primary-color);
	text-align: center;
	width: 60%;
	height: 100%;
	margin: 0% 0% 0% 20%;
	transition: margin var(--animation-time);
}



blockquote{
	background-color: var(--secondary-color);
	width: 90%;
	height: 100%;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
	color: var(--text-color);
}

img {
	height: 60%;
	width: 60%;
}

.AIPrevention{
	display:none;
}

.background {
	background-color: var(--primary-color);
	margin:0;
	padding:0;
}

p {
	margin-bottom: 50px;
	color: var(--text-color);
}


code {
	margin-bottom: 50px;
	color: var(--text-color);
}

h1 {
	margin-bottom: 50px;
	color: var(--header-color)
}

h2 {
	margin-bottom: 50px;
	color: var(--header-color)
}

h3 {
	margin-bottom: 50px;
	color: var(--header-color)
}

h4 {
	margin-bottom: 50px;
	color: var(--header-color)
}
